soap-ws-using-jax-ws/jax-ws-phonebook/jax-ws-phonebook-client/src/main/resources/wsdl/contacts.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0 svn-revision#3528ea595bd29309f69172d231bbce272d21035c. -->
<!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.0 svn-revision#3528ea595bd29309f69172d231bbce272d21035c. -->
<definitions
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsp="http://www.w3.org/ns/ws-policy"
    xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://service.phonebook.ws.soa.inf.ucv.ro/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
    targetNamespace="http://service.phonebook.ws.soa.inf.ucv.ro/" name="contacts">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://service.phonebook.ws.soa.inf.ucv.ro/"
                schemaLocation="http://localhost:8080/jax-ws-phonebook/contacts?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="updateContact">
        <part name="parameters" element="tns:updateContact"/>
    </message>
    <message name="updateContactResponse">
        <part name="parameters" element="tns:updateContactResponse"/>
    </message>
    <message name="addContact">
        <part name="parameters" element="tns:addContact"/>
    </message>
    <message name="addContactResponse">
        <part name="parameters" element="tns:addContactResponse"/>
    </message>
    <message name="deleteContact">
        <part name="parameters" element="tns:deleteContact"/>
    </message>
    <message name="deleteContactResponse">
        <part name="parameters" element="tns:deleteContactResponse"/>
    </message>
    <message name="getAllContacts">
        <part name="parameters" element="tns:getAllContacts"/>
    </message>
    <message name="getAllContactsResponse">
        <part name="parameters" element="tns:getAllContactsResponse"/>
    </message>
    <message name="getContactById">
        <part name="parameters" element="tns:getContactById"/>
    </message>
    <message name="getContactByIdResponse">
        <part name="parameters" element="tns:getContactByIdResponse"/>
    </message>
    <portType name="ContactService">
        <operation name="updateContact">
            <input
                wsam:Action="http://service.phonebook.ws.soa.inf.ucv.ro/ContactService/updateContactRequest"
                message="tns:updateContact"/>
            <output
                wsam:Action="http://service.phonebook.ws.soa.inf.ucv.ro/ContactService/updateContactResponse"
                message="tns:updateContactResponse"/>
        </operation>
        <operation name="addContact">
            <input
                wsam:Action="http://service.phonebook.ws.soa.inf.ucv.ro/ContactService/addContactRequest"
                message="tns:addContact"/>
            <output
                wsam:Action="http://service.phonebook.ws.soa.inf.ucv.ro/ContactService/addContactResponse"
                message="tns:addContactResponse"/>
        </operation>
        <operation name="deleteContact">
            <input
                wsam:Action="http://service.phonebook.ws.soa.inf.ucv.ro/ContactService/deleteContactRequest"
                message="tns:deleteContact"/>
            <output
                wsam:Action="http://service.phonebook.ws.soa.inf.ucv.ro/ContactService/deleteContactResponse"
                message="tns:deleteContactResponse"/>
        </operation>
        <operation name="getAllContacts">
            <input
                wsam:Action="http://service.phonebook.ws.soa.inf.ucv.ro/ContactService/getAllContactsRequest"
                message="tns:getAllContacts"/>
            <output
                wsam:Action="http://service.phonebook.ws.soa.inf.ucv.ro/ContactService/getAllContactsResponse"
                message="tns:getAllContactsResponse"/>
        </operation>
        <operation name="getContactById">
            <input
                wsam:Action="http://service.phonebook.ws.soa.inf.ucv.ro/ContactService/getContactByIdRequest"
                message="tns:getContactById"/>
            <output
                wsam:Action="http://service.phonebook.ws.soa.inf.ucv.ro/ContactService/getContactByIdResponse"
                message="tns:getContactByIdResponse"/>
        </operation>
    </portType>
    <binding name="ContactServiceImplPortBinding" type="tns:ContactService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="updateContact">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addContact">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteContact">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getAllContacts">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getContactById">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="contacts">
        <port name="ContactServiceImplPort" binding="tns:ContactServiceImplPortBinding">
            <soap:address location="http://localhost:8080/jax-ws-phonebook/contacts"/>
        </port>
    </service>
</definitions>
