soap-ws-php/curs-valutar/resources/curs.GetLatestValue.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.infovalutar.ro/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  targetNamespace="http://www.infovalutar.ro/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.infovalutar.ro/">
      <s:element name="GetLatestValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Moneda" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLatestValueResult"
              type="s:double"/>
          </s:sequence>
        </s:complexType>
      </s:element>

    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetLatestValueSoapIn">
    <wsdl:part name="parameters" element="tns:GetLatestValue"/>
  </wsdl:message>
  <wsdl:message name="GetLatestValueSoapOut">
    <wsdl:part name="parameters" element="tns:GetLatestValueResponse"/>
  </wsdl:message>

  <wsdl:portType name="CursSoap">
    <wsdl:operation name="GetLatestValue">
      <wsdl:input message="tns:GetLatestValueSoapIn"/>
      <wsdl:output message="tns:GetLatestValueSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CursSoap" type="tns:CursSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetLatestValue">
      <soap:operation soapAction="http://www.infovalutar.ro/GetLatestValue" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CursSoap12" type="tns:CursSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetLatestValue">
      <soap12:operation soapAction="http://www.infovalutar.ro/GetLatestValue" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Curs">
    <wsdl:port name="CursSoap" binding="tns:CursSoap">
      <soap:address location="http://www.infovalutar.ro/curs.asmx"/>
    </wsdl:port>
    <wsdl:port name="CursSoap12" binding="tns:CursSoap12">
      <soap12:address location="http://www.infovalutar.ro/curs.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
